{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}FamilyPlaces administration{% endblock %}

{% block main %}
    <p>Catalogue administration becomes available with the C2 domain model.</p>
{% endblock %}
<p><a href="{{ path('admin_places') }}">Zarządzaj miejscami</a></p>
