{% extends 'admin/layout.html.twig' %}

{% block title %}Edytuj miejsce | FamilyPlaces Admin{% endblock %}

{% block content_title %}
    <ol class="breadcrumb mb-1 fs-6">
        <li class="breadcrumb-item"><a href="{{ path('admin') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_places') }}">Miejsca</a></li>
        <li class="breadcrumb-item active text-dark">Edycja</li>
    </ol>
    <h1 class="m-0 fs-2 fw-bold text-dark">Edytuj miejsce</h1>
{% endblock %}

{% block page_actions %}
    <div class="d-flex gap-2">
        <a href="{{ path('admin_places_view', {id: placeId}) }}" class="btn btn-outline-secondary">
            <i class="fa fa-arrow-left me-1"></i> Powrót do szczegółów
        </a>
        <a href="{{ path('admin_places_edit', {id: placeId}) }}" class="btn btn-outline-primary">
            <i class="fa fa-sync me-1"></i> Przeładuj najnowsze dane
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="container-fluid p-0">
        {% include 'admin/places/_form.html.twig' with {submitLabel: 'Zapisz cały agregat'} %}
    </div>
    {% include 'admin/places/_form_script.html.twig' %}
{% endblock %}
